<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Elibrary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>indexPage</display-name>
    <servlet-name>indexPage</servlet-name>
    <servlet-class>com.Elibrary.display.indexPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexPage</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Elibrary.ops.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStudentf</display-name>
    <servlet-name>InsertStudentf</servlet-name>
    <servlet-class>com.Elibrary.db.InsertStudentf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudentf</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Elibrary.ops.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.Elibrary.display.profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>com.Elibrary.ops.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.Elibrary.ops.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BooksPage</display-name>
    <servlet-name>BooksPage</servlet-name>
    <servlet-class>com.Elibrary.display.BooksPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksPage</servlet-name>
    <url-pattern>/booksPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPage</display-name>
    <servlet-name>SearchPage</servlet-name>
    <servlet-class>com.Elibrary.display.SearchPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPage</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssuedPage</display-name>
    <servlet-name>IssuedPage</servlet-name>
    <servlet-class>com.Elibrary.display.IssuedPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssuedPage</servlet-name>
    <url-pattern>/issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnPage</display-name>
    <servlet-name>ReturnPage</servlet-name>
    <servlet-class>com.Elibrary.display.ReturnPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnPage</servlet-name>
    <url-pattern>/return</url-pattern>
  </servlet-mapping>
</web-app>